/*
 * Style for the login page.
 * Styling by Widyanto Bagus Priambodo - 1206208315
 * title	: Kisah dari Desa Whiteland
 * location	: assets/css/login.css
 * sources	: Google, W3Schools, StackOverflow, and other sites.
 */

body {font-family: "Garamond"; background: #eaeaea;}
input {
	font-family: "Garamond";
	font-size: 110%;
	padding: 7px 14px;
	margin: 10px auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
a {text-decoration: none; color: #565656;}
button {
	font-family: "Garamond";
	font-size: 120%;
	color: #eaeaea;
	height: 30px;
	width: 70px;
	cursor: pointer;
	background: #343434;
	border: 0;
}
.block {display: block;}
.center {text-align: center;}
.title {margin: 0 auto;margin-top: 15%;}
.desc {font-size: 250%;}
.wrapper {width: 300px; margin: 0 auto; margin-top: 10px; padding: 20px;}